
@{
    ViewBag.Title = "MenuListParent";
    Layout = "~/Views/Layout/_LayoutPage.cshtml";
}
<style>
    h2 {
        margin: 20px;
    }

    #ListOut {
        margin-left: 30px;
        width: auto;
        height: auto;
        border: 1px solid black;
    }

        #ListOut tr td {
            font-size: 18px;
            padding: 10px;
            text-align: center;
        }

            #ListOut tr td b {
                font-size: 17px;
            }

    #ID_MN {
        font-size: 17px;
    }

    #add {
        font-size: 17px;
        text-decoration: none;
        margin-left: 30px;
        padding:5px;
    }

    .link {
        text-decoration: none;
    }
</style>
@using NEWSMODELS.Models;
@using (Html.BeginForm("MenuListParent", "Menus"))
{
    <button id="add" type="submit">@Html.ActionLink("Thêm Menu", "AddMenuParent", new { @class = "link" })</button>
    <table id="ListOut">
        <tr><td width="100px"><b>ID_MN</b></td><td width="300px"><b>Lablel</b></td><td width="300px"><b>UrlLink</b></td><td><b>Edit</b></td><td><b>Delete</b></td><td><b>Add</b></td></tr>
        @foreach (Menus mn in ((ViewBag.menus) as IEnumerable<Menus>))
        {
            <tr>
                <td>@mn.ID_MN</td>
                <td>@Html.ActionLink(@mn.Lablel, "ViewMenu", new { id = mn.ID_MN }, new { @class = "link" })</td>
                <td>@mn.UrlLink</td>
                <td>@Html.ActionLink(" ", "EditMenuParent", new { id = mn.ID_MN }, new { @class = "fa fa-edit" })</td>
                <td>
                    @Html.ActionLink(" ", "DeleteMenu", new { id = mn.ID_MN }, new
                    {
                        @class = "fa fa-close",
                        onclick = "return confirm('Xóa thật không?');"
                    })
                </td>
                <td>@Html.ActionLink(" ", "AddMenuParent", new { id = mn.ID_MN }, new { @class = "fa fa-plus" })</td>
            </tr>
        }
    </table>
}

