
@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Views/Layout/_LayoutPage.cshtml";
}
<style>
    h2 {
        margin: 20px;
    }

    #UserName {
        font-size: 18px;
    }

    #Password {
        font-size: 0px;
        width: 0px;
        height: 0px
    }

    #pass {
        font-size: 17px;
    }

    #Email {
        font-size: 18px;
    }

    #FullName {
        font-size: 18px;
    }

    #Permission {
        font-size: 18px;
    }

    #ListOut tr td b {
        font-size: 20px;
    }

    #ListOut tr td {
        font-size: 20px;
    }

    button {
        font-size: 18px;
        padding: 5px;
        text-decoration: none;
    }

    .link {
        text-decoration: none;
    }
</style>
@model NEWSMODELS.Models.Accout
@using (Html.BeginForm("EditPassword", "Accouts"))
{
    <table>
        <tr><td>Username :</td><td><b>@Html.TextBox("UserName", (object)ViewBag.accnew)</b></td></tr>
        <tr>
            <td>Password :</td><td>@Html.TextBox("Password")</td>
        </tr>
        <tr><td>FullName:</td><td><b>@Html.TextBox("FullName")</b></td></tr>
        <tr><td>Permission:</td><td><b>@Html.TextBox("Permission")</b></td></tr>
        <tr><td>Email :</td><td><b>@Html.TextBox("Email")</b></td></tr>
        <tr>
            <td></td>
            <b class="note">@Html.Raw(ViewBag.Message)</b>
            <br />
            <td>
                <button type="submit">Sửa đổi</button>
            </td>
        </tr>
    </table>
}

