
@{
    ViewBag.Title = "IndexNew";
    Layout = "~/Views/Layout/Layout_User.cshtml";
}

@using NEWSMODELS.Models;
@model PagedList.IPagedList<NEWSMODELS.Models.PageItem>
@using PagedList.Mvc;
<style>
    #key {
        width: 230px;
        height: 30px;
        margin-left: 170px;
    }
    h3 a {
        text-decoration: none;
        color: #f80000;
        font-size:18px;
    }
    #viewpage {
        width: 310px;
        height: 50px;
        background-color: #f80000;
        border-radius: 30px;
        margin: 0 55px;
    }
    #viewpage:hover {
    background-color: black;
    }
    #viewpage a{
        color:white;
        font-size:18px;
        text-decoration:none;
    }
    #summary, useradd {
        font-size: 18px;
    }
    button {
        width: 60px;
        height: 30px;
    }
    table{
        padding:20px;
    }
    img {
        width: 250px;
        height: 200px;
    }
    td {
        padding: 10px;
        border-bottom: 3px solid #e9e9e9;
        border-right: 3px solid #e9e9e9;
        box-shadow: 5px 5px 5px #e9e9e9;
    }
</style>
@if (Model != null)
{
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="~/UploadedFiles/@item.Image" /></td>
                <td>
                    <h3>@Html.ActionLink(item.Title, "ViewPageNews", "NewsPage", new { id = item.ID_P }, new { @class = "link" })</h3><br />
                    <p>@Html.Raw(item.Sumary)<br /></p>
                    @*@Html.Raw(item.Contents)<br />*@
                <p>Người đăng: @item.UserAdd - Ngày đăng: @item.CreaDate<br /><br /></p>
                    <button id="viewpage" type="submit">@Html.ActionLink("Đọc thêm", "ViewPageNews", new { id = item.ID_P })</button>
                </td>
            </tr>
        }
    </table>
}
<div class="tab">
    Trang @(Model.PageCount<Model.PageNumber ? 0: Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("IndexNew", new { id = page }))
</div>

